
#mainDisplay {
    height: auto;
    --comp-display: unset;
    position: relative;
}

#headerpadding {
    min-height: 125px;
}

.headerpadding-container {
    
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

#headeritemspadding {
    min-width: 178.09375px;
    width: 53.6622084178499%;
    max-width: 529.109375px;
    align-self: center;
}

.headeritemspadding-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    #headeritemspadding {
        height: 73px;
        min-width: 178.09375px;
        width: 465.78796906693714px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #headeritemspadding {
        height: 73px;
        min-width: 174.46875px;
        width: 23.737244897959183%;
        margin-left: 2.4426020408163267%;
    }
}

/*IDK WHY BUT WITHOUT THIS WHITE LINES APPEAR*/
#headeritemspadding {
    --brw: 0px;
    --bg: var(--color_16);
    --rd: 0px;
    --shd: none;
    --gradient: none;
    --alpha-brd: 1;
    --alpha-bg: 0;
    --boxShadowToggleOn-shd: none;
    --static-spx: 1px;
    --bg-gradient: none;
}

#logopadding {
    height: 50px;
    width: 125px;
    display: var(--l_display, var(--display, block));
    margin-left: 20.59375px;
    margin-top: 10px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) {
    #logopadding {
        align-self: center;
        margin-left: 40px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #logopadding {
        --l_display: none;
        align-self: center;
        margin-left: 30px;
        margin-top: 0px;
    }
}
#logopadding {
    --static-spx: 1px;
}

#namepadding {
    width: 68.1022498326062%;
    height: auto;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 6.462620140700869%;
    margin-top: 14px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}



@media screen and (min-width: 320px) {
    #namepadding {
        align-self: center;
        margin-right: -4.921248008656702%;
        margin-top: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #namepadding {
        max-width: 138.9375px;
        align-self: start;
        margin-right: 11.159002458889542%;
        margin-top: 0px;
    }
}

#namepadding {
    --textAlign: left;
    --textDecoration: none;
    --fontSize: 28px;
    --fontStyle: normal;
    --static-spx: 1px;
}

#comp-lmu67awj3 {
    min-height: 280.421875px;
    height: auto;
    --comp-display: unset;
    align-self: stretch;
    justify-self: stretch;
    grid-area: 2/1/3/2;
    position: relative;
}

.comp-lmu67awj3-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmu67awj3 {
        min-height: 280.421875px;
        --l_display: unset;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu67awj3 {
        min-height: 257.4125061035156px;
        --l_display: unset;
    }
}

#comp-lmu67awj3 {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --static-spx: 1px;
}

#comp-lmu6skk9 {
    min-height: 0px;
    height: 111.04915092253816%;
    width: 100%;
    max-height: 99999px;
    --comp-display: unset;
    align-self: end;
    justify-self: start;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: -30.999874999999975px;
    grid-area: 1/1/2/2;
    position: relative;
}

#comp-lmu6skk9:not(.comp-lmu6skk9-container) {
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmu6skk9 {
        height: 98.18999445648862%;
        width: 100.00000005061965%;
        align-self: center;
        justify-self: center;
        margin-left: 0px;
        margin-top: 4.999521362304677px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu6skk9 {
        height: 99.39280693030874%;
        width: 100.64036885245902%;
        align-self: center;
        justify-self: center;
        margin-left: 1.962487840652443px;
        margin-top: 1.562006103515614px;
        margin-bottom: 0px;
    }
}

#comp-lmu6tn4b {
    min-height: 0px;
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 84.4330282166228%;
    max-width: 99999px;
    max-height: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: center;
    justify-self: center;
    margin-left: 0%;
    margin-right: 1.689104418912339%;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmu6tn4b {
        width: 99.95687691269407%;
        justify-self: start;
        margin-left: -1.3054007419133895%;
        margin-right: 0%;
        margin-bottom: 0.013006103515635914px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu6tn4b {
        width: 101.27561475409836%;
        justify-self: start;
        margin-left: -1.7831097058125944%;
        margin-right: 0%;
        margin-bottom: 1.038000000000011px;
    }
}

#comp-lmu6tn4b {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --textTransform: none;
    --textDecoration: none;
    --fontStyle: normal;
    --color: var(--color_15);
    --alpha-color: 1;
    --textAlign: center;
    --letterSpacing: 0em;
    --lineHeight: normal;
    --writingMode: horizontal-tb;
    --fontSize: 141.32292177304592px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu6tn4b {
        --fontSize: 133px;
    }
}

#comp-m17e3u5l {
    min-height: 0px;
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 68.48096879731152%;
    max-width: 99999px;
    max-height: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: center;
    justify-self: center;
    margin-left: 0%;
    margin-right: 0.0010545152333161314%;
    margin-top: 0%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m17e3u5l {
        width: 101.78642515923566%;
        justify-self: start;
        margin-left: -0.8923832145213069%;
        margin-right: 0%;
        margin-bottom: 0.0017258629930514747%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m17e3u5l {
        width: 99.46510165547456%;
        justify-self: end;
        margin-left: 0%;
        margin-right: -0.03646265806645136%;
        margin-bottom: 0.1514002333722303%;
    }
}

#comp-m17e3u5l {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --textTransform: none;
    --textDecoration: none;
    --fontStyle: normal;
    --color: var(--color_12);
    --alpha-color: 1;
    --textAlign: center;
    --letterSpacing: 0em;
    --lineHeight: normal;
    --writingMode: horizontal-tb;
    --fontSize: 141.32292177304592px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m17e3u5l {
        --fontSize: 133px;
    }
}

#comp-lmu6t6yi {
    height: auto;
    min-height: 875.1749877929688px;
    --l_display: unset;
    --comp-display: unset;
    align-self: stretch;
    justify-self: stretch;
    grid-area: 3/1/4/2;
    position: relative;
}

.comp-lmu6t6yi-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmu6t6yi {
        min-height: 987.9000244140625px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu6t6yi {
        min-height: 1169.1875px;
        max-height: 1101.1875px;
    }
}

#comp-lmu6t6yi {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --static-spx: 1px;
}

#comp-lu03ezjc {
    min-height: 790.2000122070312px;
    --l_display: unset;
    height: auto;
    min-width: 797.9625244140625px;
    width: 63.050136252691416%;
    max-width: 797.9625244140625px;
    max-height: 790.2000122070312px;
    --comp-display: unset;
    align-self: start;
    justify-self: start;
    margin-left: 3.140802781289507%;
    margin-right: 0%;
    margin-top: 3.4133993117456645%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

.comp-lu03ezjc-container {
    box-sizing: border-box;
    row-gap: 0px;
    column-gap: 0px;
    display: var(--l_display, var(--container-display));
    grid-template-rows: minmax(max(0.5px, 0.623045 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
    grid-template-columns: minmax(0px, 798.9630122070312fr);
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lu03ezjc {
        min-height: 0px;
        height: 958.9088742742947px;
        min-width: 0px;
        width: 96.22312250157579%;
        max-width: 99999px;
        max-height: 805px;
        align-self: center;
        justify-self: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 86.00000915527335px;
    }

    .comp-lu03ezjc-container {
        grid-template-rows: minmax(max(0.5px, 1.0676393 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
        grid-template-columns: minmax(0px, 725.1369633789062fr);
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu03ezjc {
        min-height: 0px;
        height: auto;
        min-width: 305.6000061035156px;
        width: 99.91434045419176%;
        max-width: 99999px;
        max-height: 1020.9500122070312px;
        align-self: start;
        justify-self: center;
        margin-left: 0%;
        margin-right: 0.0018214417867126154%;
        margin-top: 100.375px;
    }

    .comp-lu03ezjc-container {
        grid-template-rows: minmax(max(0.5px, 3.3364373 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
        grid-template-columns: minmax(0px, 375.99998168945314fr);
    }
}

#comp-lu03ezjc {
    --brw: 0px;
    --brd: 0, 0, 0;
    --bg: var(--color_16);
    --rd: 0px 0px 0px 0px;
    --shd: 0px max(0.5px, 0.0007815 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0031254 * (var(--scaling-factor) - var(--scrollbar-width))) 0px rgba(0, 0, 0, 0.6);
    --gradient: none;
    --alpha-brd: 0;
    --alpha-bg: 1;
    --static-spx: 0.1 * var(--one-unit);
    --bg-gradient: none;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu03ezjc {
        --shd: 0px max(0.5px, 0.0007813 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0031254 * (var(--scaling-factor) - var(--scrollbar-width))) 0px rgba(0, 0, 0, 0.6);
        --backdrop-filter: none;
    }
}

#comp-lu03ezjj5 {
    --l_display: unset;
    height: auto;
    min-width: 48.87404139124896%;
    width: 48.87404139124896%;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: start;
    margin-left: 48.04374694824219px;
    margin-right: 0%;
    margin-top: 114.20002365112293px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lu03ezjj5 {
        min-width: 32.02411928339903%;
        width: 57.61832828915017%;
        justify-self: start;
        margin-left: 0%;
        margin-top: 13.928632994311323%;
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu03ezjj5 {
        min-width: 211.07126134734983px;
        width: 389.5687599182129px;
        justify-self: center;
        margin-left: 0%;
        margin-top: 10.150001525878906px;
        margin-bottom: 0%;
    }
}

#comp-lu03ezjj5 {
    --alpha-borderColor: 0;
    --alpha-bgColor: 0;
    --borderWidth: 0.0;
    --borderRadius: 0px 0px 0px 0px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu03ezjj5 {
        opacity: 1;
        --comp-opacity: 1;
        transform: translateX(0px)translateY(0px)scaleX(1)scaleY(1)rotate(0deg)skewX(0deg)skewY(0deg);
        --comp-rotate-z: 0deg;
    }
}

#comp-lu061zi8 {
    min-height: 0px;
    --l_display: unset;
    height: auto;
    width: max-content;
    --comp-display: unset;
    align-self: start;
    justify-self: center;
    margin-left: 0.15815728562524636%;
    margin-right: 0%;
    margin-top: 2.827512052563841%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

.comp-lu061zi8-container {
    box-sizing: border-box;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: var(--l_display, var(--container-display));
    flex-direction: row;
    --container-layout-type: flex-container-layout;
    --container-display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lu061zi8 {
        min-height: unset;
        min-width: 0px;
        max-width: 99999px;
        max-height: 99999px;
        margin-left: 0%;
        margin-right: 1.1463543399205147%;
        margin-top: 3.1115324943975176%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu061zi8 {
        min-height: unset;
        min-width: 0px;
        max-width: 99999px;
        max-height: 99999px;
        margin-left: 0.001821700673903862%;
        margin-right: 0%;
        margin-top: 667.9750118255615px;
    }
}

#comp-lu061zi8 {
    --brw: 0px;
    --brd: var(--color_15);
    --bg: var(--color_11);
    --rd: 0px;
    --shd: none;
    --gradient: none;
    --alpha-brd: 0;
    --alpha-bg: 0;
    --boxShadowToggleOn-shd: none;
    --static-spx: 0.1 * var(--one-unit);
    --bg-gradient: none;
}

#comp-m0zmhku0 {
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 33.91917997495067%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 27.12550610351559px;
    margin-top: 195.10000610351562px;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m0zmhku0 {
        --l_display: none;
        width: 34.18376562904025%;
        justify-self: end;
        margin-left: 0%;
        margin-right: 3.0615360895902244%;
        margin-top: 27.17634890536115%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m0zmhku0 {
        --l_display: none;
        width: 80.34803967744381%;
        justify-self: center;
        margin-left: 1.9182172782243565%;
        margin-right: 0%;
        margin-top: 203.85970663517077%;
    }
}

#comp-m0zmhku0 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 31.25510729698352px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m0zmhku0 {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m0zmhku0 {
        --fontSize: 25px;
    }
}

#comp-m1107zx3 {
    --l_display: none;
    height: auto;
    min-width: 0px;
    width: 33.9176119565048%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: center;
    justify-self: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m1107zx3 {
        --l_display: unset;
        width: 33.91761195650481%;
        align-self: start;
        justify-self: end;
        margin-right: 3.3270102167022664%;
        margin-top: 27.17634890536115%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m1107zx3 {
        --l_display: none;
        width: 33.91761195650481%;
        align-self: start;
        justify-self: end;
        margin-right: 3.3270102167022664%;
        margin-top: 27.176348905361145%;
    }
}

#comp-m1107zx3 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 31.25510729698352px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m1107zx3 {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m1107zx3 {
        --fontSize: 25px;
    }
}

#comp-m11083k9 {
    --l_display: none;
    height: auto;
    min-width: 0px;
    width: 33.9176119565048%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 30.534056025457552%;
    margin-top: 26.866848739481814%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m11083k9 {
        --l_display: none;
        width: 33.91761195650481%;
        justify-self: end;
        margin-left: 0%;
        margin-right: 30.534056025457552%;
        margin-top: 26.866848739481814%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m11083k9 {
        --l_display: unset;
        width: 80.35292607221947%;
        justify-self: center;
        margin-left: 0.001821700673903862%;
        margin-right: 0%;
        margin-top: 765.3374996185303px;
    }
}

#comp-m11083k9 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 31.25510729698352px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m11083k9 {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m11083k9 {
        --fontSize: 25px;
    }
}

#comp-lu03ezjh {
    width: 67.78646517510259%;
    height: auto;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: center;
    margin-left: 0%;
    margin-right: 1.8469482142538205%;
    margin-top: 9.434962035021126%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lu03ezjh {
        width: 44.41625420721086%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10.83951048184378%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lu03ezjh {
        width: 42.736037234042556%;
        margin-left: 0.001821700673903862%;
        margin-right: 0%;
        margin-top: 720.5375118255615px;
    }
}

#comp-lu03ezjh {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --textDecoration: none;
    --fontStyle: normal;
    --textAlign: center;
    --lineHeight: normal;
    --fontSize: 30px;
    --fontWeight: bold;
    --static-spx: 1px;
}

#comp-lmwzt574 {
    width: 27.54320169674039%;
    height: auto;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: start;
    margin-left: 70.88633946010046%;
    margin-right: 0%;
    margin-top: 355.987512588501px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmwzt574 {
        width: 46.46530475332984%;
        justify-self: start;
        margin-left: 23.4499402866242%;
        margin-right: 0%;
        margin-top: 35.562502294778824px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmwzt574 {
        width: 94.19216399497174%;
        justify-self: center;
        margin-left: 0%;
        margin-right: 4.012631355447972%;
        margin-top: 0px;
    }
}

#comp-lmwzt574 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --minFontSize: 54px;
    --textDecoration: none;
    --fontStyle: normal;
    --color: var(--color_15);
    --alpha-color: 1;
    --textAlign: center;
    --letterSpacing: 0em;
    --lineHeight: normal;
    --fontSize: 54.205spx;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmwzt574 {
        --color: var(--color_13);
    }
}

#comp-lmu67b1b {
    width: auto;
    height: auto;
    --comp-display: unset;
    align-self: stretch;
    justify-self: stretch;
    grid-area: 5/1/6/2;
    position: relative;
}

.comp-lmu67b1b-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}


@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-lmu67b1b {
        --l_display: unset;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-lmu67b1b {
        --l_display: unset;
    }
}

#comp-lmu67b1b {
    --alpha-bg: 0;
    --bg: var(--color_11);
    --static-spx: 1px;
}

#comp-lmu67b1b_r_comp-kbgakgyt {
    height: auto;
    min-height: 100px;
    --comp-display: unset;
    align-self: stretch;
    justify-self: stretch;
    grid-area: 3/1/4/2;
    position: relative;
}

.comp-lmu67b1b_r_comp-kbgakgyt-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

#comp-lmu67b1b_r_comp-kbgakgyt {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --static-spx: 1px;
}

#comp-lmu67b1b_r_comp-kd5pdf7t {
    height: auto;
    width: 40%;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: center;
    justify-self: center;
    margin-left: 0px;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    #comp-lmu67b1b_r_comp-kd5pdf7t {
        width: 50%;
    }
}

#comp-lmu67b1b_r_comp-kd5pdf7t {
    --fontSize: 14px;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontFamily: avenir-lt-w01_35-light1475496, sans-serif;
    --color: var(--color_15);
    --alpha-color: 1;
    --textAlign: center;
    --fontWeight: bold;
    --static-spx: 1px;
}

#comp-m16km628 {
    height: auto;
    min-height: 875.1749877929688px;
    --l_display: unset;
    --comp-display: unset;
    align-self: stretch;
    justify-self: stretch;
    grid-area: 4/1/5/2;
    position: relative;
}

.comp-m16km628-container {
    box-sizing: border-box;
    display: var(--l_display, var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km628 {
        min-height: 987.9000244140625px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km628 {
        min-height: 1204.1875px;
        max-height: 1101.1875px;
    }
}

#comp-m16km628 {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --static-spx: 1px;
}

#comp-m16km63n {
    min-height: 790.2000122070312px;
    --l_display: unset;
    height: auto;
    min-width: 797.9625244140625px;
    width: 63.050136252691416%;
    max-width: 797.9625244140625px;
    max-height: 790.2000122070312px;
    --comp-display: unset;
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 3.1%;
    margin-top: 3.4133993117456645%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

.comp-m16km63n-container {
    box-sizing: border-box;
    row-gap: 0px;
    column-gap: 0px;
    display: var(--l_display, var(--container-display));
    grid-template-rows: minmax(max(0.5px, 0.6230447 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
    grid-template-columns: minmax(0px, 798.9630122070312fr);
    --container-layout-type: grid-container-layout;
    --container-display: grid;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km63n {
        min-height: 0px;
        height: 958.9088742742947px;
        min-width: 0px;
        width: 96.22312250157579%;
        max-width: 99999px;
        max-height: 805px;
        align-self: center;
        justify-self: center;
        margin-right: 0%;
        margin-top: 86.00000915527335px;
    }

    .comp-m16km63n-container {
        grid-template-rows: minmax(max(0.5px, 1.0676397 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
        grid-template-columns: minmax(0px, 725.1369633789062fr);
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km63n {
        min-height: 0px;
        height: auto;
        min-width: 305.6000061035156px;
        width: 99.91434045419176%;
        max-width: 99999px;
        max-height: 1080.0000000000002px;
        align-self: start;
        justify-self: center;
        margin-right: 0.08568958473873581%;
        margin-top: 80.37496948242188px;
    }

    .comp-m16km63n-container {
        grid-template-rows: minmax(max(0.5px, 1.5743265 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
        grid-template-columns: minmax(0px, 375.99998168945314fr);
    }
}

#comp-m16km63n {
    --brw: 0px;
    --brd: 0, 0, 0;
    --bg: var(--color_16);
    --rd: 0px 0px 0px 0px;
    --shd: 0px max(0.5px, 0.0007815 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0031254 * (var(--scaling-factor) - var(--scrollbar-width))) 0px rgba(0, 0, 0, 0.6);
    --gradient: none;
    --alpha-brd: 0;
    --alpha-bg: 1;
    --static-spx: 0.1 * var(--one-unit);
    --bg-gradient: none;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km63n {
        --shd: 0px max(0.5px, 0.0007813 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0031254 * (var(--scaling-factor) - var(--scrollbar-width))) 0px rgba(0, 0, 0, 0.6);
        --backdrop-filter: none;
    }
}

#comp-m16km63w {
    --l_display: unset;
    height: auto;
    min-width: 48.87404139124896%;
    width: 48.87404139124896%;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: start;
    margin-left: 48.04374694824219px;
    margin-right: 0%;
    margin-top: 114.20002365112293px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km63w {
        min-width: 32.02411928339903%;
        width: 57.61832828915017%;
        justify-self: start;
        margin-left: 1.9289777887584711%;
        margin-top: 16.686780245997458%;
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km63w {
        min-width: 30.81332282443063%;
        width: 79.56386928140682%;
        justify-self: center;
        margin-left: 0%;
        margin-top: 10.137496948242188px;
        margin-bottom: 0%;
    }
}

#comp-m16km63w {
    --alpha-borderColor: 0;
    --alpha-bgColor: 0;
    --borderWidth: 0.0;
    --borderRadius: 0px 0px 0px 0px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km63w {
        opacity: 1;
        --comp-opacity: 1;
        transform: translateX(0px)translateY(0px)scaleX(1)scaleY(1)rotate(0deg)skewX(0deg)skewY(0deg);
        --comp-rotate-z: 0deg;
    }
}

#comp-m16km65z1 {
    --l_display: unset;
    height: auto;
    min-width: 0px;
    width: 33.91917997495067%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 36.638006866455044px;
    margin-top: 130.1999969482422px;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km65z1 {
        --l_display: none;
        width: 34.18376562904025%;
        justify-self: end;
        margin-left: 0%;
        margin-right: 3.0615360895902244%;
        margin-top: 27.17634890536115%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km65z1 {
        --l_display: none;
        width: 80.34803967744381%;
        justify-self: center;
        margin-left: 1.9182172782243565%;
        margin-right: 0%;
        margin-top: 203.85970663517077%;
    }
}

#comp-m16km65z1 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 29px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km65z1 {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km65z1 {
        --fontSize: 25px;
    }
}

#comp-m16km668 {
    --l_display: none;
    height: auto;
    min-width: 0px;
    width: 33.9176119565048%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: center;
    justify-self: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km668 {
        --l_display: unset;
        width: 33.91761195650481%;
        align-self: start;
        justify-self: end;
        margin-right: 3.18738151225442%;
        margin-top: 23.196001057788393%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km668 {
        --l_display: none;
        width: 33.91761195650481%;
        align-self: start;
        justify-self: end;
        margin-right: 3.3270102167022664%;
        margin-top: 27.176348905361145%;
    }
}

#comp-m16km668 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 31.25510729698352px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km668 {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km668 {
        --fontSize: 25px;
    }
}

#comp-m16km66c {
    --l_display: none;
    height: auto;
    min-width: 0px;
    width: 33.9176119565048%;
    max-width: 99999px;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 30.534056025457552%;
    margin-top: 26.866848739481814%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km66c {
        --l_display: none;
        width: 33.91761195650481%;
        justify-self: end;
        margin-left: 0%;
        margin-right: 30.534056025457552%;
        margin-top: 26.866848739481814%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km66c {
        --l_display: unset;
        width: 80.35292607221947%;
        justify-self: center;
        margin-left: 0.2883193875751356%;
        margin-right: 0%;
        margin-top: 810.1375350952148px;
    }
}

#comp-m16km66c {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --lineHeight: 1.6em;
    --letterSpacing: 0em;
    --fontSize: 31.25510729698352px;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km66c {
        --fontSize: 29.156646504937804px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km66c {
        --fontSize: 25px;
    }
}

#comp-m16km66h2 {
    width: 67.78646517510259%;
    height: auto;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: center;
    margin-left: 0%;
    margin-right: 1.8469482142538205%;
    margin-top: 9.434962035021126%;
    margin-bottom: 0%;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km66h2 {
        width: 44.41625420721086%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10.83951048184378%;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km66h2 {
        width: 42.736037234042556%;
        margin-left: 0.001821700673903862%;
        margin-right: 0%;
        margin-top: 720.5375118255615px;
    }
}

#comp-m16km66h2 {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --textDecoration: none;
    --fontStyle: normal;
    --textAlign: center;
    --lineHeight: normal;
    --fontSize: 30px;
    --fontWeight: bold;
    --static-spx: 1px;
}

#comp-m16km66n {
    width: 27.54320169674039%;
    height: auto;
    --l_display: unset;
    --comp-display: unset;
    display: var(--l_display, var(--display, block));
    align-self: start;
    justify-self: end;
    margin-left: 0%;
    margin-right: 70.9%;
    margin-top: 355.987512588501px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1198px) {
    #comp-m16km66n {
        width: 46.46530475332984%;
        justify-self: start;
        margin-left: 23.4499402866242%;
        margin-right: 0%;
        margin-top: 35.562502294778824px;
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km66n {
        width: 94.19216399497174%;
        justify-self: center;
        margin-left: 0%;
        margin-right: 4.012631355447972%;
        margin-top: 0px;
    }
}

#comp-m16km66n {
    --backgroundColor: 0, 0, 0;
    --alpha-backgroundColor: 0;
    --blendMode: normal;
    --textShadow: 0px 0px transparent;
    --textOutline: 0px 0px transparent;
    --minFontSize: 54px;
    --textDecoration: none;
    --fontStyle: normal;
    --color: var(--color_15);
    --alpha-color: 1;
    --textAlign: center;
    --letterSpacing: 0em;
    --lineHeight: normal;
    --fontSize: 54.205spx;
    --static-spx: 0.1 * var(--one-unit);
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    #comp-m16km66n {
        --color: var(--color_13);
    }
}
