div.pro-gallery {
    height: 100%;
    width: 100%
}

div.pro-gallery,
div.pro-gallery .gallery-column {
    backface-visibility: hidden;
    overflow: hidden;
    position: relative
}

div.pro-gallery .gallery-column {
    float: left;
    transform-style: preserve-3d
}

div.pro-gallery .gallery-item-container {
    backface-visibility: hidden;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: default;
    display: inline-block;
    font-family: HelveticaNeueW01-45Ligh, HelveticaNeueW02-45Ligh, HelveticaNeueW10-45Ligh, sans-serif;
    font-size: 11px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    scroll-snap-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    vertical-align: top;
    will-change: top, left, width, height
}

div.pro-gallery .gallery-item-container.visible {
    transform: translateZ(0)
}

div.pro-gallery .gallery-item-container .gallery-item-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

div.pro-gallery .gallery-item-container .gallery-item-wrapper .gallery-item {
    border-radius: 0;
    height: 100%;
    left: 0;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

div.pro-gallery .gallery-item-container .gallery-item-wrapper .gallery-item.gallery-item-preloaded {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

div.pro-gallery .gallery-item-container .gallery-item-common-info {
    box-sizing: border-box;
    cursor: pointer
}

div.pro-gallery.one-row {
    float: left;
    white-space: nowrap
}

div.pro-gallery.one-row .gallery-column {
    float: none;
    white-space: nowrap;
    width: 100%
}

div.pro-gallery.one-row.slider .gallery-column {
    overflow-x: scroll
}

div.pro-gallery.one-row.slider .gallery-column.scroll-snap {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

div.pro-gallery.one-row .gallery-horizontal-scroll-inner {
    position: relative;
    will-change: transform
}

div.pro-gallery .hide-scrollbars {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none
}

div.pro-gallery .ltr {
    direction: ltr
}

.pro-gallery-parent-container.gallery-slideshow [data-hook=group-view]:before,
.pro-gallery-parent-container:not(.gallery-slideshow) [data-hook=group-view] .item-link-wrapper:before {
    content: "";
    height: 1px;
    left: var(--group-left);
    pointer-events: none;
    position: absolute;
    right: var(--group-right);
    scroll-snap-align: center;
    top: var(--group-top);
    width: var(--group-width)
}

.gallery-item-container {
    scroll-snap-align: none !important
}

._4Ub0k {
    height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%
}

.RichContentViewer2447840476__root {
    box-sizing: border-box;
    direction: var(--direction, ltr);
    display: block;
    width: 100%
}