.laptopLogo svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.laptopLogo svg {
    height: var(--svg-calculated-height, 100%);
    margin: auto;
    padding: var(--svg-calculated-padding, 0);
    width: var(--svg-calculated-width, 100%);
}

.laptopLogo svg:not([data-type=ugc]) {
    overflow: visible;
}

.laptopLogo * {
    vector-effect: non-scaling-stroke;
}


.NamePlate h2,
.areaTitle h2{
    margin-block: 0;
    margin: 0;
}

.NamePlate,
.areaTitle {
    word-wrap: break-word;
}

.NamePlate a,
.areaTitle a {
    color: inherit;
}