
.laptopLogo svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.laptopLogo svg {
    height: var(--svg-calculated-height, 100%);
    margin: auto;
    padding: var(--svg-calculated-padding, 0);
    width: var(--svg-calculated-width, 100%);
}

.laptopLogo svg:not([data-type=ugc]) {
    overflow: visible;
}

.NamePlate blockquote,
.NamePlate h1,
.NamePlate h2,
.NamePlate h3,
.NamePlate h4,
.NamePlate h5,
.NamePlate h6,
.NamePlate p,
.areaTitle blockquote,
.areaTitle h1,
.areaTitle h2,
.areaTitle h3,
.areaTitle h4,
.areaTitle h5,
.areaTitle h6,
.areaTitle p {
    margin-block: 0;
    margin: 0;
}

.NamePlate a,
.areaTitle a {
    color: inherit;
}
