.headerColor{
    background-color: rgba(var(--bg, var(--color_11, 255, 255, 255)), var(--alpha-bg, 1));
    /* Assumed color_11 is white */
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.RedBackground {
    -webkit-backdrop-filter: var(--backdrop-filter, none);
    backdrop-filter: var(--backdrop-filter, none);
    background-color: var(--container-corvid-background-color, rgba(var(--bg, var(--color_11, color_11)), var(--alpha-bg, 1)));
    background-image: var(--bg-gradient, none);
    border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15, color_15)), var(--alpha-brd, 1)));
    border-radius: var(--rd, 5px);
    bottom: 0;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}
/*test*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color .3s;
    background-color: #bebebe;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #ebebeb;
    fill: rgb(192, 192, 192);
}

.pagination a:hover:not(.active) {
    background-color: #000000;
    fill: rgb(255, 255, 255);
}

.pagination2 {
    display: inline-block;
}

.pagination2 a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color .3s;
    background-color: #bebebe;
    margin: 0 4px;
}
.pagination2 a.active {
    background-color: #ebebeb;
    fill: rgb(192, 192, 192);
}

.pagination2 a:hover:not(.active) {
    background-color: #000000;
    fill: rgb(255, 255, 255);
}

.nexts a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color .3s;
    background-color: #bebebe;
    margin: 0 4px;
}

.nexts a.active {
    background-color: #ebebeb;
    fill: rgb(192, 192, 192);
}

.nexts a:hover:not(.active) {
    background-color: #000000;
    fill: rgb(255, 255, 255);
}

.nexts2 a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color .3s;
    background-color: #bebebe;
    margin: 0 4px;
}

.nexts2 a.active {
    background-color: #ebebeb;
    fill: rgb(192, 192, 192);
}

.nexts2 a:hover:not(.active) {
    background-color: #000000;
    fill: rgb(255, 255, 255);
}

@media screen and (max-width: 750px){
    .nexts {
        display: none;
    }
    .nexts2 {
        display: none;
    }
}

body,
html {
    background: rgb(48,44,44);
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}


:root {
    --one-unit: 1vw;
    --section-max-width: 9999px;
    --spx-stopper-max: 9999px;
    --spx-stopper-min: 0px;
}


