@font-face {
    font-family: 'poppins-semibold';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v5/aDjpMND83pDErGXlVEr-Sfk_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'poppins-semibold';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v5/c4FPK8_hIFKoX59qcGwdChUOjZSKWg4xBWp_C_qQx0o.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'poppins-semibold';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v5/RbebACOccNN-5ixkDIVLjRUOjZSKWg4xBWp_C_qQx0o.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'poppins-semibold';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v5/9VWMTeb5jtXkNoTv949Npfk_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: italic;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: italic;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: 'din-next-w01-light';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w10-light.woff2') format('woff2');
    unicode-range: U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2116;
    font-display: swap;
}

@font-face {
    font-family: 'din-next-w01-light';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w02-light.woff2') format('woff2');
    unicode-range: U+000D, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+01FA-01FF, U+0218-021B, U+0237, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2126, U+212E, U+2153-2154, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB00-FB04;
    font-display: swap;
}

@font-face {
    font-family: 'din-next-w01-light';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w01-light.woff2') format('woff2');
    unicode-range: U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02DA, U+02DC, U+03BC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122;
    font-display: swap;
}

@font-face {
    font-family: 'avenir-lt-w01_35-light1475496';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/fonts/v2/af36905f-3c92-4ef9-b0c1-f91432f16ac1/v1/avenir-lt-w05_35-light.woff2') format('woff2');
    unicode-range: U+0100-012B, U+012E-0130, U+0132-0137, U+0139-0149, U+014C-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+0218-021B, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03BC, U+03C0, U+1E9E, U+20B9-20BA, U+20BC-20BD, U+2113, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB01-FB02;
    font-display: swap;
}

@font-face {
    font-family: 'avenir-lt-w01_35-light1475496';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/fonts/v2/af36905f-3c92-4ef9-b0c1-f91432f16ac1/v1/avenir-lt-w01_35-light1475496.woff2') format('woff2');
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+0237, U+02C6-02C7, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122;
    font-display: swap;
}

#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus,
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus~.wixSdkShowFocusOnSibling {
    --focus-ring-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff;
    box-shadow: var(--focus-ring-box-shadow) !important;
    z-index: 1;
}

.has-inner-focus-ring {
    --focus-ring-box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 3px #116dff !important;
}

:root,
:host,
.spxThemeOverride,
.max-width-container {
    --color_0: 255, 255, 255;
    --color_1: 255, 255, 255;
    --color_2: 0, 0, 0;
    --color_3: 237, 28, 36;
    --color_4: 0, 136, 203;
    --color_5: 255, 203, 5;
    --color_6: 114, 114, 114;
    --color_7: 176, 176, 176;
    --color_8: 255, 255, 255;
    --color_9: 114, 114, 114;
    --color_10: 176, 176, 176;
    --color_11: 43, 43, 43;
    --color_12: 247, 247, 247;
    --color_13: 209, 209, 209;
    --color_14: 79, 79, 79;
    --color_15: 204, 204, 204;
    --color_16: 110, 54, 54;
    --color_17: 149, 158, 229;
    --color_18: 56, 74, 211;
    --color_19: 37, 49, 141;
    --color_20: 19, 25, 70;
    --color_21: 242, 222, 204;
    --color_22: 194, 178, 163;
    --color_23: 145, 133, 122;
    --color_24: 97, 89, 82;
    --color_25: 48, 44, 41;
    --color_26: 209, 219, 195;
    --color_27: 171, 184, 153;
    --color_28: 127, 148, 99;
    --color_29: 85, 99, 66;
    --color_30: 42, 49, 33;
    --color_31: 199, 211, 213;
    --color_32: 154, 169, 172;
    --color_33: 103, 126, 130;
    --color_34: 69, 84, 87;
    --color_35: 34, 42, 43;
    --color_36: 43, 43, 43;
    --color_37: 204, 204, 204;
    --color_38: 247, 247, 247;
    --color_39: 209, 209, 209;
    --color_40: 79, 79, 79;
    --color_41: 56, 74, 211;
    --color_42: 56, 74, 211;
    --color_43: 56, 74, 211;
    --color_44: 56, 74, 211;
    --color_45: 204, 204, 204;
    --color_46: 79, 79, 79;
    --color_47: 204, 204, 204;
    --color_48: 56, 74, 211;
    --color_49: 56, 74, 211;
    --color_50: 43, 43, 43;
    --color_51: 56, 74, 211;
    --color_52: 56, 74, 211;
    --color_53: 43, 43, 43;
    --color_54: 209, 209, 209;
    --color_55: 209, 209, 209;
    --color_56: 43, 43, 43;
    --color_57: 43, 43, 43;
    --color_58: 56, 74, 211;
    --color_59: 56, 74, 211;
    --color_60: 43, 43, 43;
    --color_61: 56, 74, 211;
    --color_62: 56, 74, 211;
    --color_63: 43, 43, 43;
    --color_64: 209, 209, 209;
    --color_65: 209, 209, 209;
    --font_0: normal normal normal 88px/1.4em poppins-semibold, poppins, sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light, sans-serif;
    --font_2: normal normal normal 72px/1.4em poppins-semibold, poppins, sans-serif;
    --font_3: normal normal normal 50px/1.4em poppins-semibold, poppins, sans-serif;
    --font_4: normal normal normal 40px/1.4em poppins-semibold, poppins, sans-serif;
    --font_5: normal normal normal 28px/1.4em poppins-semibold, poppins, sans-serif;
    --font_6: normal normal normal 22px/1.4em poppins-semibold, poppins, sans-serif;
    --font_7: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    --font_8: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light, sans-serif;
    --wix-ads-height: 30px;
    --sticky-offset: 30px;
    --wix-ads-top-height: 30px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: var(--scaling-factor) / 1199;
    --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
    --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
}

.font_0 {
    font: var(--font_0);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_1 {
    font: var(--font_1);
    color: rgb(var(--color_14));
    letter-spacing: 0em;
}

.font_2 {
    font: var(--font_2);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
    padding-top: 15px;
}

.font_3 {
    font: var(--font_3);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_4 {
    font: var(--font_4);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_5 {
    font: var(--font_5);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_6 {
    font: var(--font_6);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_7 {
    font: var(--font_7);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_8 {
    font: var(--font_8);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_9 {
    font: var(--font_9);
    color: rgb(var(--color_15));
    letter-spacing: 0em;
}

.font_10 {
    font: var(--font_10);
    color: rgb(var(--color_14));
    letter-spacing: 0em;
}

.color_0 {
    color: rgb(var(--color_0));
}

.color_1 {
    color: rgb(var(--color_1));
}

.color_2 {
    color: rgb(var(--color_2));
}

.color_3 {
    color: rgb(var(--color_3));
}

.color_4 {
    color: rgb(var(--color_4));
}

.color_5 {
    color: rgb(var(--color_5));
}

.color_6 {
    color: rgb(var(--color_6));
}

.color_7 {
    color: rgb(var(--color_7));
}

.color_8 {
    color: rgb(var(--color_8));
}

.color_9 {
    color: rgb(var(--color_9));
}

.color_10 {
    color: rgb(var(--color_10));
}

.color_11 {
    color: rgb(var(--color_11));
}

.color_12 {
    color: rgb(var(--color_12));
}

.color_13 {
    color: rgb(var(--color_13));
}

.color_14 {
    color: rgb(var(--color_14));
}

.color_15 {
    color: rgb(var(--color_15));
}

.color_16 {
    color: rgb(var(--color_16));
}

.color_17 {
    color: rgb(var(--color_17));
}

.color_18 {
    color: rgb(var(--color_18));
}

.color_19 {
    color: rgb(var(--color_19));
}

.color_20 {
    color: rgb(var(--color_20));
}

.color_21 {
    color: rgb(var(--color_21));
}

.color_22 {
    color: rgb(var(--color_22));
}

.color_23 {
    color: rgb(var(--color_23));
}

.color_24 {
    color: rgb(var(--color_24));
}

.color_25 {
    color: rgb(var(--color_25));
}

.color_26 {
    color: rgb(var(--color_26));
}

.color_27 {
    color: rgb(var(--color_27));
}

.color_28 {
    color: rgb(var(--color_28));
}

.color_29 {
    color: rgb(var(--color_29));
}

.color_30 {
    color: rgb(var(--color_30));
}

.color_31 {
    color: rgb(var(--color_31));
}

.color_32 {
    color: rgb(var(--color_32));
}

.color_33 {
    color: rgb(var(--color_33));
}

.color_34 {
    color: rgb(var(--color_34));
}

.color_35 {
    color: rgb(var(--color_35));
}

.color_36 {
    color: rgb(var(--color_36));
}

.color_37 {
    color: rgb(var(--color_37));
}

.color_38 {
    color: rgb(var(--color_38));
}

.color_39 {
    color: rgb(var(--color_39));
}

.color_40 {
    color: rgb(var(--color_40));
}

.color_41 {
    color: rgb(var(--color_41));
}

.color_42 {
    color: rgb(var(--color_42));
}

.color_43 {
    color: rgb(var(--color_43));
}

.color_44 {
    color: rgb(var(--color_44));
}

.color_45 {
    color: rgb(var(--color_45));
}

.color_46 {
    color: rgb(var(--color_46));
}

.color_47 {
    color: rgb(var(--color_47));
}

.color_48 {
    color: rgb(var(--color_48));
}

.color_49 {
    color: rgb(var(--color_49));
}

.color_50 {
    color: rgb(var(--color_50));
}

.color_51 {
    color: rgb(var(--color_51));
}

.color_52 {
    color: rgb(var(--color_52));
}

.color_53 {
    color: rgb(var(--color_53));
}

.color_54 {
    color: rgb(var(--color_54));
}

.color_55 {
    color: rgb(var(--color_55));
}

.color_56 {
    color: rgb(var(--color_56));
}

.color_57 {
    color: rgb(var(--color_57));
}

.color_58 {
    color: rgb(var(--color_58));
}

.color_59 {
    color: rgb(var(--color_59));
}

.color_60 {
    color: rgb(var(--color_60));
}

.color_61 {
    color: rgb(var(--color_61));
}

.color_62 {
    color: rgb(var(--color_62));
}

.color_63 {
    color: rgb(var(--color_63));
}

.color_64 {
    color: rgb(var(--color_64));
}

.color_65 {
    color: rgb(var(--color_65));
}

.backcolor_0 {
    background-color: rgb(var(--color_0));
}

.backcolor_1 {
    background-color: rgb(var(--color_1));
}

.backcolor_2 {
    background-color: rgb(var(--color_2));
}

.backcolor_3 {
    background-color: rgb(var(--color_3));
}

.backcolor_4 {
    background-color: rgb(var(--color_4));
}

.backcolor_5 {
    background-color: rgb(var(--color_5));
}

.backcolor_6 {
    background-color: rgb(var(--color_6));
}

.backcolor_7 {
    background-color: rgb(var(--color_7));
}

.backcolor_8 {
    background-color: rgb(var(--color_8));
}

.backcolor_9 {
    background-color: rgb(var(--color_9));
}

.backcolor_10 {
    background-color: rgb(var(--color_10));
}

.backcolor_11 {
    background-color: rgb(var(--color_11));
}

.backcolor_12 {
    background-color: rgb(var(--color_12));
}

.backcolor_13 {
    background-color: rgb(var(--color_13));
}

.backcolor_14 {
    background-color: rgb(var(--color_14));
}

.backcolor_15 {
    background-color: rgb(var(--color_15));
}

.backcolor_16 {
    background-color: rgb(var(--color_16));
}

.backcolor_17 {
    background-color: rgb(var(--color_17));
}

.backcolor_18 {
    background-color: rgb(var(--color_18));
}

.backcolor_19 {
    background-color: rgb(var(--color_19));
}

.backcolor_20 {
    background-color: rgb(var(--color_20));
}

.backcolor_21 {
    background-color: rgb(var(--color_21));
}

.backcolor_22 {
    background-color: rgb(var(--color_22));
}

.backcolor_23 {
    background-color: rgb(var(--color_23));
}

.backcolor_24 {
    background-color: rgb(var(--color_24));
}

.backcolor_25 {
    background-color: rgb(var(--color_25));
}

.backcolor_26 {
    background-color: rgb(var(--color_26));
}

.backcolor_27 {
    background-color: rgb(var(--color_27));
}

.backcolor_28 {
    background-color: rgb(var(--color_28));
}

.backcolor_29 {
    background-color: rgb(var(--color_29));
}

.backcolor_30 {
    background-color: rgb(var(--color_30));
}

.backcolor_31 {
    background-color: rgb(var(--color_31));
}

.backcolor_32 {
    background-color: rgb(var(--color_32));
}

.backcolor_33 {
    background-color: rgb(var(--color_33));
}

.backcolor_34 {
    background-color: rgb(var(--color_34));
}

.backcolor_35 {
    background-color: rgb(var(--color_35));
}

.backcolor_36 {
    background-color: rgb(var(--color_36));
}

.backcolor_37 {
    background-color: rgb(var(--color_37));
}

.backcolor_38 {
    background-color: rgb(var(--color_38));
}

.backcolor_39 {
    background-color: rgb(var(--color_39));
}

.backcolor_40 {
    background-color: rgb(var(--color_40));
}

.backcolor_41 {
    background-color: rgb(var(--color_41));
}

.backcolor_42 {
    background-color: rgb(var(--color_42));
}

.backcolor_43 {
    background-color: rgb(var(--color_43));
}

.backcolor_44 {
    background-color: rgb(var(--color_44));
}

.backcolor_45 {
    background-color: rgb(var(--color_45));
}

.backcolor_46 {
    background-color: rgb(var(--color_46));
}

.backcolor_47 {
    background-color: rgb(var(--color_47));
}

.backcolor_48 {
    background-color: rgb(var(--color_48));
}

.backcolor_49 {
    background-color: rgb(var(--color_49));
}

.backcolor_50 {
    background-color: rgb(var(--color_50));
}

.backcolor_51 {
    background-color: rgb(var(--color_51));
}

.backcolor_52 {
    background-color: rgb(var(--color_52));
}

.backcolor_53 {
    background-color: rgb(var(--color_53));
}

.backcolor_54 {
    background-color: rgb(var(--color_54));
}

.backcolor_55 {
    background-color: rgb(var(--color_55));
}

.backcolor_56 {
    background-color: rgb(var(--color_56));
}

.backcolor_57 {
    background-color: rgb(var(--color_57));
}

.backcolor_58 {
    background-color: rgb(var(--color_58));
}

.backcolor_59 {
    background-color: rgb(var(--color_59));
}

.backcolor_60 {
    background-color: rgb(var(--color_60));
}

.backcolor_61 {
    background-color: rgb(var(--color_61));
}

.backcolor_62 {
    background-color: rgb(var(--color_62));
}

.backcolor_63 {
    background-color: rgb(var(--color_63));
}

.backcolor_64 {
    background-color: rgb(var(--color_64));
}

.backcolor_65 {
    background-color: rgb(var(--color_65));
}

#masterPage {
    --variables-m0zlrxhp: 1600px;
}

#SITE_HEADER {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}

#SITE_PAGES {
    --transition-duration: 0ms;
}

#SITE_FOOTER {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}