        .ButtonSize {
            height: 50px;
        }

        .ButtonSize svg,
        .ButtonSize>span {
            display: flex;
            height: inherit;
            width: inherit
        }